.searchBar {
    display: block;
    padding: 0.6rem 0.4rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0.8rem 0;
    width: 100%;
    font-size: medium;
    background-image: url('../../../public/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding: 12px 20px 12px 40px;
}