:root {
  --primary: #252525;
  --primary-dark: #1a1a1a;
  --secondary: #f0f0f0;
  --background: #25272c;
  --accent: #00ADB5;
  --accent1: #CC3700;
  --accent2: #CCAC00;
  --accent3: #00CC00;
  --accent4: #007ACC;
  --accent5: #CC0E78;
  --accent6: #00A3A3;
  --accent7: #CC4F36;
  --accent8: #29A329;
  --accent9: #9736A3;
  --accent10: #CCCC00;
  --accent11: #33B3B3;
  --accent12: #CC5489;
  --accent13: #66CC00;
  --accent14: #CC00CC;
  --accent15: #00CC66;
  --ok: #1fda57;
  --error: #ff0000;
  --warning: #ffcc00;
  --movieColor: #FF2E63;
  --showColor: #F97300;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

:root * {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.darker {
  opacity: 0.3;
}

a {
  text-decoration: none;
}

.ok {
  color: var(--ok);
}

.error {
  color: var(--error);
}

.warning {
  color: var(--warning);
}

.chartTooltip, .chartTooltip * {
  background-color: var(--primary)!important;
  color: var(--secondary)!important;
  border-radius: 5px;
}
