.card {
  background-color: var(--primary-dark);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 30px -10px;
  transition: all 0.5s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 5px 25px 35px -10px;
  transform: scale(1.05);
}

.padding {
  padding: 1em;
}