.cardContainer {
    padding: 2rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    overflow: hidden;
}