.label {
    display: block;
    font-size: large;
}

.input {
    display: block;
    padding: 0.6rem 0.4rem;
    margin: 0.8rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: medium;
}

.input:focus {
    outline: none;
}