.label {
  display: block;
  font-size: large;
}

.input {
  padding: 0.6rem 0.4rem;
  margin: 0.8rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: medium;
  width: 100%;
  height: 2.5rem;
}

.input:focus {
  outline: none;
}

.inputEyeContainer {
  display: flex;
  align-items: center;
  width: 100%;
}


.inputEyeContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2.5rem;
}
