.cardContainer {
    padding: 2rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    overflow: hidden;
}

.chartContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-gap: 1.2em;
}

.chart {
  background-color: var(--primary-dark);
  border-radius: 6px;
  padding: 1em;
  width: auto;
  height: auto;
}

