.errorModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.errorModal div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 3rem;
  font-size: xx-large;
}

.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3rem;
  margin-top: 2rem;
  margin-left: 6rem;
}

.poster img {
  border-radius: 5px;
}

.hr {
  width: 50%;
  border: 1px solid var(--secondary);
  margin: 0;
}

.title {
  font-size: 2rem;
  margin: 1rem 0 0 0rem;
}

.genres {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
}

.mediaScore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  column-gap: 1rem;
  width: 50dvw;
  height: auto;
  padding-top: 1rem;
}

.episodeList {
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
  width: 30vw;
}

.episodeItem {
  display: grid;
  grid-template-rows: repeat(2);
  gap: 0.5rem;
  overflow: hidden;
  background-color: var(--primary-dark);
  width: 98%;
  height: min-content;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 1rem;
}

.episodeImg {
  width: auto;
  height: 5rem;
  border-radius: 5px;
}

.ImageTitle {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.5rem;
}

.seasonTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seasonTitle svg {
  margin-left: 0.5rem;
}

.season {
  transition: all 0.5s;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.season img {
  border-radius: 5px;
}

.season:hover {
  cursor: pointer;
  border: 1px solid var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.7) 5px 25px 35px -10px;
  transform: scale(1.05);
}

.creditCard img {
  border-radius: 5px;
}

.creditCard {
  background-color: var(--primary-dark);
  margin: 0;
  border-radius: 5px;
}

.creditCard p,
.creditCard h5 {
  padding: 0 0.6rem;
}

.castList {
  overflow-y: hidden;
}

.reviewList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}
