.chartContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  grid-gap: 1.2em;
}

.chart {
  background-color: var(--primary-dark);
  border-radius: 6px;
  padding: 1em;
  width: auto;
  height: auto;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: row;
}

.legend p {
  font-size: 1.2rem;
}

.legend span {
  margin: 0 0.5rem;
}

.legend svg {
  margin-right: 0.5rem;
}

.upcomingReleases {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 1.2em;
}
