.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.form input,
.form select {
    border-radius: 5px;
    border: 0.5px solid var(--secondary);
    background-color: var(--secondary);
    padding: 0.6rem 0.4rem;
    margin: 0.8rem 0;
}

.poster {
    border-radius: 5px;
}