.settingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settingsActions {
  width: 20%;
}

.settingsActions button {
  margin: 1rem 0;
}

.form {
  width: 30%;
}
