.errorModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.errorModal div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 3rem;
    font-size: xx-large;
}

.closeModal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3rem;
  margin-top: 2rem;
  margin-left: 6rem;
}
.poster img {
    border-radius: 5px;
}

.movieDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50dvw;
}

.hr {
    width: 50%;
    border: 1px solid var(--secondary);
    margin: 0;
}

.title {
    font-size: 2rem;
    margin: 1rem 0 0 0rem;
}

.genres {
    font-size: 0.8rem;
    display: flex;
}

.back {
    margin: 1rem;
    cursor: pointer;
}

.runtime {
    font-size: 0.8rem;
    margin: 0.1rem;
}

.creditList {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    width: 50dvw;
}
