.primaryButton {
    display: block;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    border: none;
    padding: 0.6rem 0.4rem;
    cursor: pointer;
    font-size: medium;
    margin: 0;
    width: 100%;
}